language = "python3"
run = "python app.py"
modules = ["python-3.10:v25-20230920-d4ad2e4"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 38969
externalPort = 3000

[[ports]]
localPort = 43907
externalPort = 3001
